 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;;

 }


 input,
 textarea,
 button,
 select,
 div,
 img,
 a{

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
 }
 a:focus, a:visited,a:active{
    outline: none;
 }
 *{
    -webkit-tap-highlight-color: transparent;
 }
 .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 58px;

    
 }
 .navm{
    border: 1px solid black;
    width: 100%;
    border-left: 0px;
    position: fixed;
    border-right: 0px;
    background: white;

 }
 nav{
    flex: 1;
    text-align:right;

 }
 nav ul{
    display: inline-block;
    list-style-type: none;
    background: black;
    border-radius: 10px;
    height: 53px;
    margin-left: 406px;
    margin-top: 2px;

    
 }

 nav div{
    display: flex;
    list-style-type: none;
    border-radius: 10px;
    height: 53px;
    width: 272px;
    margin-left: 620px;
    /* margin-right: 94px; */
    margin-top: -54px;
    align-items: center;
 }

 nav div div{
    display: inline-block;
    margin: 23px;
    background: white;

 }

 .logo img{
    margin-top: 8px;
 }
 nav ul li {
    display: inline-block;
    margin:20px;



 }
 .search_s{
    width: 0px;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 0px;
    
 }
  .search_b{
    width: 100%;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 23px;
    
 }
  .search_{
    width: 45px;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 23px;
    
 }
 .search_:hover{
    width: 45px;
    height: 45px;
    color: white;
    opacity: 0.5;
    margin: 23px;
    
 }
 .order_s{
    width: 0px;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 0px;
    

 }
 .order_b{
    width: 100%;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 21px;
    

 }
 .order_{
    width: 45px;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 21px;
    

 }
 .order_:hover{
    width: 45px;
    height: 45px;
    color: white;
    opacity: 0.5;
    margin: 21px;

 }

 .notification_s{
    width: 0px;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 0px;
    
 }
 .notification_b{
    width: 100%;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 23px;
    
 }
  .notification_{
    width: 45px;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 23px;
    
 }
 .notification_:hover{
    width: 45px;
    height: 45px;
    color: white;
    opacity: 0.5;
    margin: 23px;
    
 }

 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
 }
 .logo{
    cursor: pointer;
    margin-left: 0px;
 }
 .box{
    max-width: 1100px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 60px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
 .cm{
    border: 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom:0px;
 }
 .content{
    max-width: 1100px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    margin-top: 61px;
 }
.right{
    margin-left: 5px;
    margin-right:20px;
    display: flex;
    flex-direction: column;
    width: 50%;


 }
 .left{
    margin-left: 20px;
    margin-right:5px;
    display: flex;
    flex-direction: column;
    width: 50%;

 }
 .db{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 45px;
    border-radius: 12px;
    background: black;
    position: fixed;
    margin-left: 150px;
    margin-top: 1px;
}
 .dbu{
    margin: auto;
    cursor: pointer;
    color: white;
 }
 .bleft {
    width: 50%;
    min-width: 525px;
    min-height: 700px;
    background: #f7f7f7;
}

 .bright{
    width: 50%;

 }
 .story{
    height: 75px;
    min-width: 75px;
    border-radius: 50px;
    background: black;
    margin: 2px;
    border: 3px solid #b9b9b9;
    cursor: pointer;
    
 }
 .bstory{
    display: flex;
    flex-direction: row;
    width: 185%;
    overflow-x: auto;
 }
 .userphoto{
    height:50px;
    width: 50px;
    border-radius:50px;
    background: black;
    margin: 2px;

 }
 .pphoto{
    max-height: 500px;
    width:481px;
    margin: auto;
 }
 .mainp{
    width:485px;
    border: 2px solid black;
 }
 .like{
    height:20px;
    width: 20px;
    border-radius: 25px;
    background: black;
    cursor:pointer;
    margin-right: 10px;

 }
 .like img{
    width:20px;
    height:20px;
    object-fit: contain;
 }
 .vc{
    display: flex;
    flex-direction: row;
    background: black;
    padding: 3px;
    align-items: center;
    justify-content: center;

 }
 .userinfo{
    display: flex;
    flex-direction:row;
    background:#e5e5e5;
 }
 .userinfo p{
    margin-top:32px;

 }
 .share{
    height:20px;
    width:20px;
    background: gray;
    border-radius: 2px;
    cursor:pointer;
    margin-left: 10px;
 }
 .share img{
    height:20px;
    width:20px;
 }
 input {
    width: 400px;
    font-size: 16px;
    border-radius: 5px;
    cursor:pointer;

 }
 .userphoto img{
    border-radius: 50px;
    height: 50px;
    width:50px;
    cursor:pointer;
    object-fit: contain;
 }
 .mess img{
    width: 40px;
    border-radius: 40px;
    margin-top: 3px;
 }
 .post img{
    width: 40px;
    border-radius: 40px;
    margin-top: 3px;
    background: white;
 }
 .camera img{
    width: 40px;
    border-radius: 40px;
    margin-top: 3px;
    background: white;
 }
  .setting img{
    width: 30px;
    border-radius: 40px;
    margin-top:5px

 }
 ul li a img{
    width: 45px;
    border-radius: 40px;
    background: white;
    margin-top: -16px;
    object-fit: contain;
    height: 45px;
 }


.search{
    margin-top: 50px;
    width: 350px;
    height: 400px;
    margin-left: 150px;
    background: #f7f7f7;
    border-radius: 5px;
    transition: .5s;
    transition: all 0.5s ease-in;
    fill-opacity: 4;
    position: fixed;
    border: 2px solid black;

}
.search input {
    font-size: 25px;
    text-align: center;
    transition: 0.5s;
    width: 80%;
    /* margin: auto; */
    margin-top: 1px;
    margin-left: 10%;
}
.search .line {
    width: 100%;
    height: 1px;
    background: gray;
    margin-top: 1px;
}
.se{
    background: #ffffff;
    height: 0px;
    width: 0px;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    z-index: 11;
    transition: .5s;
    transition: all 0.5s ease-in;
    margin-left: 190px;
    border: 0px solid black;
}
.se input{
    font-size: 0;
    width: 0%;
    border: 0px;
    transition: 3.5s;
}

.order{
    margin-top: 50px;
    width: 350px;
    height: 400px;
    margin-left: 150px;
    background: #f7f7f7;
    border-radius: 5px;
    transition: .5s;
    transition: all 0.5s ease-in;
    fill-opacity: 4;
    position: fixed;
    border: 2px solid black;

}
.order p{
    font-size:25px;
    text-align:center;
    transition: 0.5s;
}
.order .line {
    width: 100%;
    height: 1px;
    background: gray;
    margin-top: -1px;
}
.or{
    background: #ffffff;
    height: 0px;
    width: 0px;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    z-index: 11;
    transition: .5s;
    transition: all 0.5s ease-in;
    margin-left: 279px;
    border: 0px solid black;
}
.or p{
    font-size:0px;
    text-align:center;
}

.notification{
    margin-top: 50px;
    width: 350px;
    height: 400px;
    margin-left: 150px;
    background: #f7f7f7;
    border-radius: 5px;
    transition: .5s;
    transition: all 0.5s ease-in;
    fill-opacity: 4;
    position: fixed;
    border: 2px solid black;

}
.notification p{
    font-size:25px;
    text-align:center;
    transition: 0.5s;
}
.notification .line {
    width: 100%;
    height: 1px;
    background: gray;
    margin-top: -1px;
}
.no{
    background: #ffffff;
    height: 0px;
    width: 0px;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    z-index: 11;
    transition: .5s;
    transition: all 0.5s ease-in;
    margin-left: 368px;
    border: 0px solid black;
}
.no p{
    font-size:0px;
    text-align:center;

}





.accinfo{
    width: 184%;
    display:flex;
    margin-top: 2px;

}

.accphoto {
    width: 104px;
    height: 104px;
    border-radius: 104px;
    background: black;
    border: 2px solid black;
}


.accphoto img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: contain;
}
.font{
    font-size:21px;
    
}
.info {
    font-size: 21px;
    text-align: center;
    margin: 30px;
    margin-left: 35px;
}

.about{
    margin-top:20px;
    margin-left: 3px;
    font-size:18px;
    width:183%;
}
.link{
    color: blue;
    margin-left: 0px;

}
.exp{
    display: flex;
    flex-direction:row;
}
.we{
    width: 85px;
    text-align: center;
    margin: 10px 10px 10px 20px;
    font-size: 18px;
    width: 208px;
    text-align: center;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    /* font-size: 40px; */
    border: 2px solid;
    border-radius: 15px;
}
.pd{
    width: 85px;
    text-align: center;
    margin: 10px 10px 10px 20px;
    font-size: 18px;
    width: 208px;
    text-align: center;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    /* font-size: 40px; */
    border: 2px solid;
    border-radius: 15px;
}
.brating{
    width: 184%;
    border-radius: 10px;
    background: #ebebeb;
}
.rating{
    display: flex;
    width: 100%;
}
.rat{
    font-size:25px;
    margin-right: 20px;

}
.ra{
    margin-right: 20px;
    margin-top: 2px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 7px;
}
.nr{
    margin-right: 20px;
    margin-top: 2px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 7px;
}
.hr {
    width: 175%;
    margin-left: 15px;
}
.R{
    display: flex;
    font-size:20px;
    margin: 2px;
}
.r{
    border: 2px solid black;
    padding: 2px 8px 2px 8px;
    border-radius: 70px;
}
.n{
    margin-top:4px;
    margin-left: auto;
}
.bhl {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    background: #efefef;
 }
 .hl {
    height: 100px;
    min-width: 100px;
    border-radius: 100px;
    background: black;
    margin: 2px;
    border: 3px solid #b9b9b9;
    cursor: pointer;
 }
.all{
    width: 100%;
    height: 100px;
    background: #e5e5e5;
}

.bar{
    border-radius: 5px;
    width: 100%;
    height: 45px;
    background: black;
    display: flex;
        margin-bottom: 5px;
}
.collections{
    margin-top: 0px;
    background: #e5e5e5;

}
.line{
    display:flex;
    margin-left: 5px;
}
.line .img{
    border: 2px solid gray;
    width: 33%;
    height: 172px;
    
}
.line img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.p{
    width: 33%;
}
.v{
    width:33%;
}
.t{
    width:33%;
}
.l img {
    width: 35px;
    height: 35px;
    margin-left: 43%;
    background: black;
    margin-top: 5px;
}






















@media only screen and (max-width:1100px){
.db {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 45px;
    border-radius: 12px;
    background: black;
    position: fixed;
    margin-left: 65px;
    margin-top: 1px;
}
.search{
    margin-left: 65px
}
.order{
    margin-left:65px;
}
.notification{
    margin-left:65px;
}
}





@media only screen and (max-width:980px){

 .db {
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 90px;
    border-radius: 30px 0px 0px 30px;
    background: black;
    position: fixed;
    margin-top: -54px;
    margin-left: -555px;
}
 nav ul{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100%;
    min-height: 106px;
    margin: 0;
    border-radius:0
  }
  nav div{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: -1px;
    left: 20%;
    width: 60%;
    min-height: 106px;
    margin: 0;
    border-radius: 0;

  }

  nav {
    flex: 0;
    text-align: center;
    margin: auto;
  }

  a{
    margin: inherit;
  }

  nav ul li {
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    color: white;
  }
  nav div div{
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    border-radius: 60px;
  }
  
  ul li a img {
    width: 90px;
    border-radius: 90px;
    background: white;
    margin-top: -12px;
    object-fit: contain;
    height: 90px;
}
 .content{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
 }
.bleft {
    width: 100%;
    margin-top: 55px;
    min-height: 2000px;
}
 .left{
    margin-left:0px;
    margin-right: 0px;

 }
 .bright{
    width: 0;
 }


.mainp {
    width: 200%;
    border: 2px solid #c5c3c3;
}
.pphoto{
    max-height:1000px;
    margin: 0;

}
.pphoto img{
    width: 977px;
}
.bstory {
    display: flex;
    flex-direction: row;
    width: 199.7%;
    overflow-x: auto;
}
.story {
    height: 250px;
    min-width: 250px;
    border-radius: 250px;
    background: black;
    margin: 2px;
    border: 11px solid #b9b9b9;
    cursor: pointer;
}



.userphoto {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: black;
    margin: 2px;
}
.userphoto img {
    border-radius: 100px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    object-fit: contain;
}
.userinfo p {
    margin-top: 68px;
    font-size: 28px;
}
.box{
    height: 106px;
}
.navbar{
    height: 106px;
}
.logo img{
    width: 90px;
    margin-top:5px;
}
.mess img {
    width: 80px;
    border-radius: 80px;
    margin-top: 3px;
}
.post img {
    width: 80px;
    border-radius: 80px;
    margin-top: 3px;
    background: white;
}
.camera img {
    width: 80px;
    border-radius: 80px;
    margin-top: 3px;
    background: white;
}
.setting img {
    width: 60px;
    border-radius: 80px;
    margin-top: 5px;
}
.like {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    left: 0;
    background: black;
    cursor: pointer;
    margin-right: 25px;
}
.like img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.share {
    height: 60px;
    width: 60px;
    background: gray;
    border-radius: 12px;
    cursor: pointer;
    margin-left:25px;
}
input {
    width: 80%;
    font-size: 36px;
    border-radius: 5px;
    cursor: pointer;
}

.share img {
    height: 60px;
    width: 60px;
}



.search_:hover{
    width: 90px;
    height: 90px;
    background: white;
    opacity: 0;
    left: 25.5%;
    margin: auto;
}
.order_:hover{
    width: 90px;
    height: 90px;
    background: white;
    opacity: 0;
    left: 45.5%;
    margin: auto;
}
.notification_:hover{
    width: 90px;
    height: 90px;
    background: white;
    opacity: 0;
    left: 65.5%;
    margin: auto;
}

.search_b {
    width: 60%;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 0px;
}
.search {
    margin-top: 46px;
    width: 100%;
    height: 100%;
    margin-left: -985px;
    background: #e1e1e1;
    border-radius: 0px;
    transition: .5s;
    transition: all 0.2s ease-in;
    fill-opacity: 4;
    position: fixed;
    bottom: 105px;
}
.se{
    bottom: 103px;
    width: 0px;
    height: 0px;
    margin-left: -692px;
    border-radius: 0px;
    transition: .5s;
    transition: all 0.2s ease-in;
    fill-opacity: 4;
    opacity: .5;
    position: fixed;
}

.order_b {
    width: 60%;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 0px;
}
.order{
    margin-top: 46px;
    width: 100%;
    height: 100%;
    margin-left: -985px;
    background: #e1e1e1;
    border-radius: 0px;
    transition: .5s;
    transition: all 0.2s ease-in;
    fill-opacity: 4;
    position: fixed;
    bottom: 105px;
}
.or{
    bottom: 103px;
    width: 0px;
    height: 0px;
    margin-left: -497px;
    border-radius: 0px;
    transition: .5s;
    transition: all 0.2s ease-in;
    fill-opacity: 4;
    opacity: .5;
    position: fixed;
}
.notification_b{
    width: 60%;
    height: 45px;
    color: white;
    opacity: 0;
    margin: 0px;
}
.notification{
    margin-top: 46px;
    width: 100%;
    height: 100%;
    margin-left: -985px;
    background: #e1e1e1;
    border-radius: 0px;
    transition: .5s;
    transition: all 0.2s ease-in;
    fill-opacity: 4;
    position: fixed;
    bottom: 105px;
}
.no{
    width: 0px;
    bottom: 103px;
    height: 0px;
    margin-left: -301px;
    border-radius: 0px;
    transition: .5s;
    transition: all 0.2s ease-in;
    /* fill-opacity: 4; */
    opacity: .5;
    position: fixed;
}
.search_{
    width: 90px;
    height: 90px;
    background: #4a4545;
    opacity: 0;
    left: 25.5%;
    margin: auto;
}
.order_{
    width: 90px;
    height: 90px;
    background: #bf1010;
    opacity: 0;
    left: 45.5%;
    margin: auto;
}
.notification_{
    width: 90px;
    height: 90px;
    color: #37c912;
    opacity: 0;
    left: 65.5%;
    margin: auto;
}
.search input {
    font-size: 55px;
    text-align: center;
    transition: 0.2s;
    width: 80%;
    /* margin: auto; */
    margin-top: 5px;
    margin-left: 10%;
    border-radius: 17px;
    margin-top: 110px;
}
.order p {
    font-size: 55px;
    text-align: center;
    transition: 0.2s;
    margin-top: 110px; 
}
.notification p {
    font-size: 55px;
    text-align: center;
    transition: 0.2s;
    margin-top: 110px;
}
.se input {
    font-size: 0;
    width: 0%;
    border: 0px;
    
}
.or p {
    font-size: 0px;
    text-align: center;
   
}
.no p {
    font-size: 0px;
    text-align: center;
    
}
.search .line {
    width: 100%;
    height: 1px;
    background: black;
    margin-top: 7px;
}
.order .line {
    width: 100%;
    height: 1px;
    background: black;
    margin-top: 7px;
}
.notification .line {
    width: 100%;
    height: 1px;
    background: black;
    margin-top: 7px;
}









.accinfo{
    display:flex;
}
.accphoto {
    width: 260px;
    height: 260px;
    border-radius: 250px;
    background: black;
    border: 5px solid black;
    margin-left: 15px;
}
.accphoto img {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    object-fit: contain;
}
.font{
    font-size:53px;
    
}
.info {
    font-size: 55px;
    text-align: center;
    margin: 44px;
    margin-top: 65px;
}
.pnu2{
    font-size: 45px;
}
.cnu2{
    font-size: 45px;
}
.spfu2{
    font-size: 45px;
}
.about {
    margin-top: 56px;
    margin-left: 20px;
    font-size: 27px;
    width:191%;
}
.we {
    width: 220px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    font-size: 40px;
    border: 2px solid;
    border-radius: 20px;
}
.pd {
    width: 220px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    font-size: 40px;
    border: 2px solid;
    border-radius: 20px;
}
.brating{
    width: 192%;
    margin-left: 20px;
}
.rating{
    width:100%
    display: flex;
}
.rat {
    font-size: 50px;
    margin-right: 33px;
    margin-left: 12px;
}
.ra {
    margin-right: 30px;
    position: absolute;
    right: 365px;
    margin-top: 2px;
    font-size: 42px;
    border: 5px solid black;
    border-radius: 10px;
    z-index: 1;
}
.nr {
    margin-top: 2px;
    position: absolute;
    right: 5px;
    font-size: 42px;
    border: 5px solid black;
    border-radius: 10px;
}
.r {
    border: 4px solid black;
    padding: 2px 16px 2px 16px;
    border-radius: 75px;
    margin-left: 10px;
}
.R {
    display: flex;
    font-size: 48px;
}
.n {
    margin-top: 5px;
    margin-left: auto;
}

.bhl {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}
.hl {
    height: 200px;
    min-width: 200px;
    border-radius: 200px;
    background: black;
    margin: 2px;
    border: 11px solid #b9b9b9;
    cursor: pointer;
}
.all{
    width: 100%;
    height: 100px;
    background: #e5e5e5;
}

.bar{
    border-radius: 0px;
    width: 100%;
    height: 100px;
    background: black;
    margin-bottom: 1px;
    margin-top:30px;
}
.collections{
    margin-top: 0px;
    background: #e5e5e5;
}
.line{
    display:flex;
}
.line .img{
    border: 2px solid gray;
    width: 33%;
    height: 321px;
}
.line img{
    width: 100%;
    height:100%
    object-fit: contain;

}
.hr{
    width: 0px;
}
.l img {
    width: 80px;
    height: 80px;
    margin-left: 39%;
    margin-top: 10px;
}
}
